<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAZ_DB_Connection.Properties.Settings.caz_dev_dbConnectionString"
            connectionString="server=localhost;user id=root;password=cazdev;database=caz_dev_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>